/* ----------TYPOGRAPHY------------ */


h1{
    font-family: 'Titan One', cursive;
 }

 p, a{
      font-family: 'Quattrocento', serif;
 }

p{
    margin-bottom: 30px;
    font-size: 14px;
    color: #666666:   
}

/*---------- LAYOUT----------------- */












